.blog {
    text-align: center;
    
    .blog-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        text-align: left;
    
        .blog-item {
            padding: 2%;
            width: 40%;
            text-align: center;
            background-color: var(--accent-green);
        }
    }
}