.experience {
    margin-top: 5%;
    margin-bottom: 15%;
    display: flex;

    .expereince-copy-container {
        margin-left: 10%;

        .timeline-container {
            position: absolute;
            max-width: 800px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin: 0;
        
            li {
                margin: 5px;
                padding: 5px 15px;
                width: 350px;
                background-color: var(--anti-white);
                box-shadow: 0 0 5px var(--base-black);

                .job-description {
                    font-size: 1rem;
                }
                    
            }

            .resume-download {
                display: none;
            }
            

        }
    }

        .experience-image {
            width: 800px;
            height: 500px;
            margin-left: 15px;
            background-image: url(../assets/experience/agi-geaps-2022.JPG);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
}

