footer {
    background-color: var(--accent-green);
    color: var(--mint-cream);
    margin-top: 30px;
    padding-top: 15px;

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .footer-copy {
            width: 40%;
        }
    
        .contact-form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            
            .contact-form {  
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-width: 300px;
                width: 70%;

                    input{
                        height: 3rem;
                        width: 95%;
                        color: var(--anti-white);
                        border-style: none;
                        margin: 2%;
                        font-size: 1.2rem;
                    }
                    textarea {
                        width: 95%;
                        background-color: var(--accent-green);
                        border-style: none;
                        height: 7rem;
                        color: var(--anti-white);
                        margin: 2%;
                        font-size: 1rem;
                    }

                    .btn {
                        margin: 0;
                        
                    }
                }
        }
    }



    .footer-floor{
        text-align: center;
        p {
            margin: 0;
            margin-top: 5%;
            padding: 0;
            a {
                color: var(--mint-cream)
            }
        }
    }

    input {
        border-style: none;
        border-bottom: 1px solid var(--dark-green);
        background-color: var(--accent-green);
    }

    .btn {
        margin-top: 20px;
        min-width: 70px;
    }

    h2 {
        color: var(--mint-cream)
    }

    .mobile-contact-button {
        display: none;
    }
}
