html {
    overflow-x: hidden;
    min-width: 320px;
}

*{
    margin: 0;
    padding: 0;
}

:focus-visible {
    border: 2px solid yellow;
}


body {
    font-size: 125%;
    font-family: 'Hind', sans-serif;
    background-image: url(../assets/style/background-image.png);
    background-position: top;
    background-size: contain;
    background-repeat: repeat;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}