// Code to remove the expereince blocks and change them to the summary.

@media (max-width: 1100px) {

.nav-container{
    height: 10vh;
}

    .welcome-container{
        height: 650px;
    }

    .experience .expereince-copy-container .timeline-container {
        position: relative;
    } 
        .job-description {
        display: none;
        }
    experience-image {
            img {
                width: 400px;
            }
    }
}


@media (max-width: 600px) {

    .nav-container {
        height: 10vh;
    }
    
    .wrapper {
        width: 90%;
    }

    header {
        height:fit-content;

        .nav-container {

            .nav-bar{
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 200px;
                position: absolute;
                top: 50px;
                right: 5%;
                background-color: var(--anti-white);
                box-shadow: 0 0 5px var(--base-black);
            }
            
            .hamburger {
                display: inline-block;
            }

            .logo{
                display: inline-block;
            }
        }

        .welcome-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: fit-content;

            .welcome-text {
                width: 100%;
            }

            .photo-container{
                width: 300px;
                min-height: 300px;
                margin-top: 5%;
                align-self: center;
                box-shadow: 10px -10px 0px var(--accent-green);
            }

            h1 {
                font-size: 3rem;
                line-height: 3rem;
                
            }

            .button-container {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .btn{
                    min-width: 80%;
                }
            }

        }
    }

    .about-me-container {
        text-align: center;

        .about-me-body{
            width: 100%;
        }
    }

    .experience-summary {
        .job-description {
            display: none;
        }

        .timeline-container {
            position: relative;
            
        }
    }

    .experience-image {
        display: none;
    }

    .btn {
        font-size: 1rem;
    }

    .portfolio .project-container .individual-project .text-overlay {
        opacity: 1;

        .project-description {
            display: none;
        }
    }


    footer {
        .footer-container {

        .contact-form-container {
            display: none;
        }

        .footer-copy{
            width: 100%;
            .mobile-contact-button {
                display: block;
                width: 50%;
            }
        }
    
        
        }

        .footer-floor p{
            font-size: 1rem;
        }
    }
}