.portfolio {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .portfolio-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    
        .portfolio-item {
            padding: 2%;
        }
    }

    .project-container {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .individual-project {
            margin: 2%;

            img {
                border-radius: 5%;
            }
        }
    }
}

