html {
    color: var(--base-black);
    font-weight: lighter;
}

// HEADINGS and TITLES
// H1 is used for welcome message stored in header
h1 {
    font-family:'Montserrat', sans-serif;
    font-size: 5rem;
    color: var(--accent-green);
    margin: 0;
    line-height: 4.5rem;

    span{
        color: var(--base-black);
        font-size:1.5rem;
        display: block;
        line-height: 2rem;
    }
}

// H2 is used to as the heading for each section
h2 {
    font-family:'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: var(--accent-green);
    margin: 0;
    padding: 0;
}

// subtitle text is added under h1 and h2 to add 2-3 word description to the section
.subtitle {
    font-family: 'Hind', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    font-weight: lighter;
    color: var(--base-black);
}

// H3 is used for blog and portfolio item titles
h3 {
    font-family: 'Hind', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    font-weight: lighter;
    color: var(--anti-white);
}

// H4 is used for titles of previous positions
h4 {
    font-family:'Montserrat', sans-serif;
    color: var(--base-black);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1rem;
}

.date {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1rem;
}

// code language bolds the languages listed in portfolio
.code-language {
    font-weight: bolder;
}

// General p
p {
    font-size: 1.3rem;
}

// NAV Style

.nav-container a {
    color: var(--base-black);
}

header nav a:hover{
    transition: .2s ease-in-out;
    color: var(--accent-green);
}

// Buttons

.btn {
    font-size: 1.3rem;
    color: var(--mint-cream);
    background-color: var(--accent-green);
    border-style: none;
    box-shadow: 0 0 2px var(--base-black);
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    padding: 0px 10px;
    font-weight: bolder;
}

.btn:hover {
    transition: .2s ease-in-out;
    background-color: var(--dark-green);
}

