html {
  color: var(--base-black);
  font-weight: lighter;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  color: var(--accent-green);
  margin: 0;
  line-height: 4.5rem;
}
h1 span {
  color: var(--base-black);
  font-size: 1.5rem;
  display: block;
  line-height: 2rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: var(--accent-green);
  margin: 0;
  padding: 0;
}

.subtitle {
  font-family: "Hind", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  font-weight: lighter;
  color: var(--base-black);
}

h4 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: var(--base-black);
  margin: 0;
  padding: 0;
}

.nav-container a {
  color: var(--base-black);
}

header a:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: scale(2);
          transform: scale(2);
  color: var(--accent-green);
}

body {
  background-color: var(--mint-cream);
  font-size: 125%;
  font-family: "Hind", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:root {
  --accent-green: #139A43;
  --dark-green: #0B5D1e;
  --base-black: #0E0F19;
  --mint-cream: #F0F7EE;
  --anti-white: #EBEBEB;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
}
.nav-container .logo {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.nav-container ul {
  margin: 0;
  padding: 0;
}
.nav-container li {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.welcome-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95vh;
}
.welcome-container .photo-container {
  margin: 3%;
  height: 90%;
  width: 40%;
}
.welcome-container .background-shape {
  width: 100%;
  background-image: url(https://placebear.com/500/500);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70%;
  border-radius: 50%;
  position: relative;
  z-index: 0;
  border: 70px solid var(--accent-green);
}
.welcome-container .welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  width: 60%;
}
.welcome-container .welcome-text h1 {
  padding-bottom: 3%;
}

.about-me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech-stack-container {
  padding: 0;
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
}
.tech-stack-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tech-stack-container li i {
  font-size: 3rem;
}
.tech-stack-container li:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: var(--accent-green);
}
.tech-stack-container li:hover h4 {
  color: var(--accent-green);
}

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio-container .portfolio-item {
  padding: 2%;
}