html {
  color: var(--base-black);
  font-weight: lighter;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  color: var(--accent-green);
  line-height: 4.5rem;
}
h1 span {
  color: var(--base-black);
  font-size: 1.5rem;
  display: block;
  line-height: 2rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: var(--accent-green);
}

.subtitle {
  font-family: "Hind", sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--base-black);
}

h3 {
  font-family: "Hind", sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--anti-white);
}

h4 {
  font-family: "Montserrat", sans-serif;
  color: var(--base-black);
  font-size: 1rem;
  line-height: 1rem;
}

.date {
  font-weight: bold;
  font-size: 1rem;
}

.code-language {
  font-weight: bolder;
}

p {
  font-size: 1.3rem;
}

.nav-container a {
  color: var(--base-black);
}

header nav a:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: var(--accent-green);
}

.btn {
  font-size: 1.3rem;
  color: var(--mint-cream);
  background-color: var(--accent-green);
  border-style: none;
  -webkit-box-shadow: 0 0 2px var(--base-black);
          box-shadow: 0 0 2px var(--base-black);
  border-radius: 5px;
  font-weight: bolder;
  padding: 5px 15px;
  min-width: 100px;
  margin: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.btn:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: var(--dark-green);
}

html {
  overflow-x: hidden;
  min-width: 320px;
}

* {
  margin: 0;
  padding: 0;
}

:focus-visible {
  border: 2px solid yellow;
}

body {
  font-size: 125%;
  font-family: "Hind", sans-serif;
  background-image: url(../assets/style/background-image.png);
  background-position: top;
  background-size: contain;
  background-repeat: repeat;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

:root {
  --accent-green: #139A43;
  --dark-green: #0B5D1e;
  --base-black: #0E0F19;
  --mint-cream: #F0F7EE;
  --anti-white: #EBEBEB;
}

header {
  display: block;
  padding-bottom: 5%;
}

.nav-container {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-container .logo {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  height: 75px;
  width: 75px;
}
.nav-container nav {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 10%;
}
.nav-container .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav-container .nav-bar li {
  width: 90px;
}
.nav-container .contact-icons {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-container .contact-icons li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
}
.nav-container .hamburger {
  position: absolute;
  right: 10%;
  display: none;
  font-size: 2rem;
  color: var(--accent-green);
}

.welcome-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90vh;
}
.welcome-container .photo-container {
  width: 35%;
  background-image: url(../assets/me/devin-gif.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-shadow: 25px -25px 0px var(--accent-green);
          box-shadow: 25px -25px 0px var(--accent-green);
}
.welcome-container .welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  width: 60%;
}
.welcome-container .welcome-text h1 {
  padding-bottom: 3%;
}
.welcome-container .welcome-text .welcome-body {
  font-size: 1.2rem;
}
.welcome-container .welcome-text .button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.welcome-container .welcome-text .button-container .btn {
  width: 100%;
}

.about-me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-me-container .about-me-body {
  text-align: center;
  width: 75%;
}
.about-me-container .about-me-body span {
  display: block;
  padding: 10px 0px;
}
.about-me-container .tech-stack-container {
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  max-width: 450px;
}
.about-me-container .tech-stack-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2%;
  width: 75px;
  height: 75px;
  text-align: center;
}
.about-me-container .tech-stack-container li i {
  font-size: 3rem;
}
.about-me-container .tech-stack-container li h4 {
  line-height: 1.2rem;
  margin-top: 10px;
}
.about-me-container .tech-stack-container li:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: var(--accent-green);
}
.about-me-container .tech-stack-container li:hover h4 {
  color: var(--accent-green);
}

.portfolio {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}
.portfolio .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.portfolio .project-container .individual-project {
  margin: 2%;
  border-radius: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 400px;
  margin: 2%;
  border: 0.2rem solid black;
}
.portfolio .project-container .individual-project .text-overlay {
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.8);
  color: var(--anti-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 4%;
  opacity: 0;
}
.portfolio .project-container .individual-project .text-overlay .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio .project-container .individual-project .text-overlay .project-description {
  width: 80%;
  font-size: 1rem;
}
.portfolio .project-container .individual-project .text-overlay .btn {
  margin: 2%;
}
.portfolio .project-container .individual-project :hover {
  opacity: 1;
}
.portfolio .project-container .shoe-kloset {
  background-image: url(../assets/portfolio/shoe-kloset-home.png);
}
.portfolio .project-container .gains-4-devs {
  background-image: url(../assets/portfolio/gains-4-devs.png);
  background-position: center;
}
.portfolio .project-container .instant-fantasy {
  background-image: url(../assets/portfolio/instant-fantasy-image.png);
  background-position: cover;
}
.portfolio .project-container .sunrun {
  background-image: url(../assets/portfolio/sunrun.png);
  background-position: center;
}

.experience {
  margin-top: 5%;
  margin-bottom: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.experience .expereince-copy-container {
  margin-left: 10%;
}
.experience .expereince-copy-container .timeline-container {
  position: absolute;
  max-width: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.experience .expereince-copy-container .timeline-container li {
  margin: 5px;
  padding: 5px 15px;
  width: 350px;
  background-color: var(--anti-white);
  -webkit-box-shadow: 0 0 5px var(--base-black);
          box-shadow: 0 0 5px var(--base-black);
}
.experience .expereince-copy-container .timeline-container li .job-description {
  font-size: 1rem;
}
.experience .expereince-copy-container .timeline-container .resume-download {
  display: none;
}
.experience .experience-image {
  width: 800px;
  height: 500px;
  margin-left: 15px;
  background-image: url(../assets/experience/agi-geaps-2022.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blog {
  text-align: center;
}
.blog .blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
}
.blog .blog-container .blog-item {
  padding: 2%;
  width: 40%;
  text-align: center;
  background-color: var(--accent-green);
}

.contact {
  margin-top: 50px;
  text-align: center;
}
.contact .contact-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact .contact-form-container .contact-form {
  min-width: 300px;
  width: 70%;
}
.contact .contact-form-container .contact-form .name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  min-width: 300px;
  margin: 15px 0px;
  border-style: none;
  height: 40px;
}
.contact .contact-form-container .contact-form .name-email input {
  height: 90%;
  width: 40%;
}
.contact .contact-form-container .contact-form .contact-message {
  width: 100%;
  min-width: 300px;
  margin: 15px 0px;
  border-style: none;
  height: 80px;
  position: relative;
}
.contact .contact-form-container .contact-form .contact-message input {
  width: 100%;
  height: 100%;
}
.contact input {
  border-style: none;
  border: 1px solid var(--accent-green);
}
.contact .btn {
  margin-top: 20px;
  min-width: 70px;
}

footer {
  background-color: var(--accent-green);
  color: var(--mint-cream);
  margin-top: 30px;
  padding-top: 15px;
}
footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .footer-container .footer-copy {
  width: 40%;
}
footer .footer-container .contact-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-container .contact-form-container .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  width: 70%;
}
footer .footer-container .contact-form-container .contact-form input {
  height: 3rem;
  width: 95%;
  color: black;
  background-color: var(--anti-white);
  border-style: none;
  margin: 2%;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}
footer .footer-container .contact-form-container .contact-form textarea {
  width: 95%;
  background-color: var(--anti-white);
  border-style: none;
  height: 7rem;
  color: black;
  margin: 2%;
  font-size: 1rem;
  border-radius: 0.2rem;
}
footer .footer-container .contact-form-container .contact-form .btn {
  margin: 0;
}
footer .footer-floor {
  text-align: center;
}
footer .footer-floor p {
  margin-top: 5%;
}
footer .footer-floor p a {
  color: var(--mint-cream);
}
footer input {
  border-style: none;
  border-bottom: 1px solid var(--dark-green);
  background-color: var(--accent-green);
}
footer .btn {
  margin-top: 20px;
  min-width: 70px;
  background-color: var(--dark-green);
  cursor: pointer;
}
footer h2 {
  color: var(--mint-cream);
}
footer .mobile-contact-button {
  display: none;
}

@media (max-width: 1100px) {
  .nav-container {
    height: 10vh;
  }
  .welcome-container {
    height: 650px;
  }
  .experience .expereince-copy-container .timeline-container {
    position: relative;
  }
  .experience .expereince-copy-container .timeline-container .resume-download {
    display: inline-block;
  }
  .job-description {
    display: none;
  }
  .experience-image img {
    width: 400px;
  }
  .nav-container {
    margin-top: 20px;
  }
  .portfolio .project-container .individual-project .text-overlay {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .nav-container {
    height: 10vh;
  }
  .wrapper {
    width: 90%;
  }
  header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header .nav-container .nav-bar {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 150px;
    height: 200px;
    position: absolute;
    top: 70px;
    right: 5%;
    background-color: var(--anti-white);
    -webkit-box-shadow: 0 0 5px var(--base-black);
            box-shadow: 0 0 5px var(--base-black);
  }
  header .nav-container .hamburger {
    display: inline-block;
  }
  header .nav-container .logo {
    display: inline-block;
  }
  header .welcome-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  header .welcome-container .welcome-text {
    width: 100%;
  }
  header .welcome-container .photo-container {
    width: 300px;
    min-height: 300px;
    margin-top: 5%;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-shadow: 10px -10px 0px var(--accent-green);
            box-shadow: 10px -10px 0px var(--accent-green);
  }
  header .welcome-container h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  header .welcome-container .button-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .welcome-container .button-container .btn {
    min-width: 80%;
  }
  .about-me-container {
    text-align: center;
  }
  .about-me-container .about-me-body {
    width: 100%;
  }
  .about-me-container .tech-stack-container {
    width: 100%;
    max-width: 400px;
  }
  .about-me-container .tech-stack-container li i {
    font-size: 2rem;
  }
  .experience-summary .job-description {
    display: none;
  }
  .experience-summary .timeline-container {
    position: relative;
  }
  .experience-image {
    display: none;
  }
  .btn {
    font-size: 1rem;
  }
  .portfolio .project-container .individual-project .text-overlay {
    opacity: 1;
  }
  footer .footer-container .contact-form-container {
    display: none;
  }
  footer .footer-container .footer-copy {
    width: 100%;
  }
  footer .footer-container .footer-copy .mobile-contact-button {
    display: block;
    width: 50%;
  }
  footer .footer-floor p {
    font-size: 1rem;
  }
}